/* основной цвет #212121
дополнительный цвет #757575
вторичный цвет #FFFFFF 
дополнительный вторичный #2196F3*/

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap'); */

/* :root {
  --text-color: #757575;
  --accent-color: #2196f3;
  --bg-primary-color: #2f303a;
  --bg-second-color: #eeeeee;
  --second-font-family: 'Raleway', sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  font-size: 16px;
}
.list {
  display: flex;
  list-style: none;
  padding-left: 0;
} */
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
} */

/* header {
  border-bottom: 1px solid #ececec;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

header > .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
} */

/* ===============
Шапка
=============== */

/* .nav__site {
  display: flex;
  margin-left: 93px;
}
.nav__site .nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link,
.authoriz__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';
  display: block;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
} */

/* .logo {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}
.logo > .logo__span {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);
}
.logo__span:hover {
  color: #000;
}
.logo:hover {
  color: var(--accent-color);
} */

/* .authoriz {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
.authoriz__link {
  color: var(--text-color);
}
.authoriz__link + .authoriz__link {
  margin-left: 50px;
}
.authoriz__link:hover,
.authoriz__link:focus {
  color: var(--accent-color);
}
.authoriz svg {
  margin-right: 10px;
}
.authoriz__svg {
  fill: currentColor;
} */

/* =================
Банер
================= */

/* .banner {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/banner-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.banner__title {
  max-width: 696px;
  margin: 30px auto;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.banner__btn {
  padding: 10px 32px;
  color: #fff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
} */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;

  border: none;
  background-color: #fff;
  cursor: pointer;
}
.modal-btn svg {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-btn svg:hover {
  fill: var(--accent-color);
} */
/* =========== MODAL ========== */
/* textarea {
  resize: none;
}
.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}
.modal-text {
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-input {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal-label {
  margin-bottom: 4px;
  text-align: left;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-group textarea {
  padding: 12px 16px;
}
.form-group textarea::placeholder {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.checkbox-label {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.checkbox-link {
  color: var(--accent-color);
}
.modal-button {
  margin-top: 30px;
  padding: 10px 52px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--timing-function);
}
.modal-icon {
  position: absolute;
  bottom: 22px;
  left: 12px;
}
.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--accent-color);
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.checkbox-consent {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.span-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;

  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}
.checkbox-consent:checked + .span-icon {
  transform: scale(1.1);
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #137bd1;
} */

/* ===========================
Головний контент
=========================== */
/* .section {
  padding-bottom: 94px;
} */
/* .features {
  padding-top: 94px;
} */
/* .features__item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}
.features__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__sub-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* .features__text {
  font-size: 14px;
  line-height: 1.71;
} */
/* Чим займаємось */
/* .work-overlay {
  position: relative;
}
.work-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  background-color: rgba(47, 48, 58, 0.8);
  border: none;
}
.work li {
  margin-right: 30px;
}
.work li:last-child {
  margin-right: 0;
}
.work .sub-title,
.team__sub-title,
.clients .sub-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */

/* .team {
  padding-top: 94px;
  background-color: #f5f4fa;
}
.list__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list__item:last-child {
  margin-right: 0;
}
.team__title {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.features__text,
.team__text {
  color: var(--text-color);
}

.team__text {
  margin-top: 10px;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
}

.list__item {
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.icons__element:not(:last-child) {
  margin-right: 10px;
}
.icons {
  display: flex;
  justify-content: center;
}
.link-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}
.icons__svg {
  fill: #afb1b8;

  transition: fill 250ms var(--timing-function);
}
.link-svg:hover,
.link-svg:focus {
  background-color: var(--accent-color);
}
.link-svg:hover svg,
.link-svg:focus svg {
  fill: #fff;
} */

/* ====================
Пойтійні клієнти
==================== */

/* .clients {
  padding-top: 94px;
}
.clients-list {
  justify-content: center;
  gap: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}
.svg-item {
  fill: #afb1b8;

  transition: fill 250ms var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--accent-color);
} */

/* ======================
Підвал
====================== */

/* .footer {
  background-color: var(--bg-primary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-flex {
  position: relative;

  display: flex;
  align-items: baseline;
  gap: 64px;
}

.footer__logo {
  color: #fff;

  transition: color 250ms var(--timing-function);
}
.footer__logo:hover {
  color: var(--accent-color);
}
.footer .logo__span {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);
}
.footer .logo__span:hover,
.footer .logo__span:focus {
  color: #fff;
}
.adress {
  margin-top: 20px;
  color: #fff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.margin {
  margin-top: 9px;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.footer-list {
  gap: 10px;
}
.footer .link-svg {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);
}
.footer .link-svg:hover,
.footer .link-svg:focus {
  background-color: var(--accent-color);
}
.footer svg {
  fill: #fff;
}
.footer-text {
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.field {
  margin-left: 62px;
}
.footer-label {
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.form-field {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.footer-input {
  background-color: inherit;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--timing-function);
}
.footer-button svg {
  position: absolute;
  right: 28px;
  top: 13px;
  margin-left: 10px;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #137bd1;
} */
/* ================================
Портфоліо
================================ */
/* .filters {
  display: flex;
  justify-content: center;
}
.filters-item {
  padding-right: 8px;
}
.filters-item:last-child {
  padding-right: 0;
}
.filters-link {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  color: #212121;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function), border-radius 250ms var(--timing-function);
}
.filters-link:hover,
.filters-link:focus {
  color: #fff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.project {
  padding-top: 94px;
  padding-bottom: 94px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms var(--timing-function);
}
.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.thumb-text {
  padding: 63px 24px;

  font-family: 'Roboto';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #fff;
}
.project-item:hover .project-overlay {
  transform: translateY(0);
}
.border {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-text {
  margin-top: 4px;
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.list-link {
  text-decoration: none;
} */
