.features .container,
.team .container,
.clients .container,
.footer .container {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// .features {
//   @extend %section;

//   padding-top: 94px; (for 1200px)
// }

// .features__item {
//   width: calc((100% - 90px) / 4);
//   margin-right: 30px;

//   &:last-child {
//     margin-right: 0;
//   }
// }

.features__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.features__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__sub-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}
