header {
  position: relative;
}

.authoriz {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    margin-top: 306px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 92px;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
  }
}

.authoriz__link {
  @include NavAuthLink;

  @media screen and (min-width: 480px) {
    font-size: 34px;
    line-height: 1.18;
    color: #2196f3;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
  }
}

.authoriz__link {
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.authoriz__link + .authoriz__link {
  margin-left: 50px;
}

.authoriz svg {
  margin-right: 10px;
}
.authoriz__svg {
  fill: currentColor;
}

.mail__link {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.authoriz__svg {
  display: none;
}
