.logo {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}
.logo > .logo__span {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);
}
