.team {
  background-color: #f5f4fa;

  & img {
    margin: 0 auto 30px;

    @media screen and (max-width: 1199px) {
      width: 100%;
    }
  }

  &__title {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__text {
    margin-top: 10px;
    margin-bottom: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.team__sub-title,
.clients__sub-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__item {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 1199px) {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  &__element:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    background-color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.icons__svg {
  fill: #afb1b8;

  transition: fill 250ms var(--timing-function);
}
.icons__link:hover,
.icons__link:focus {
  background-color: var(--accent-color);
}
.icons__link:hover svg,
.icons__link:focus svg {
  fill: #fff;
}
