:root {
  --text-color: #757575;
  --accent-color: #2196f3;
  --bg-primary-color: #2f303a;
  --bg-second-color: #eeeeee;
  --second-font-family: 'Raleway', sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
